
<div class="max-w-3xl mx-auto text-center">
    <h2 class="text-4xl font-bold mb-4 text-custom-primary">Research Work</h2>
    <div class="container">
    
    <ul>
        <li>
            <strong>Adverse Events Following COVISHIELD and VERO CELL Vaccination Campaigns Against COVID-19</strong> - 
            <a href="https://jnhrc.com.np/index.php/jnhrc/article/view/4926" target="_blank">Read the full article</a>
        </li>
        <li>
            <strong>Knowledge and Practice of Feeding Plate Obturators Among Medical Doctors in Kanti Children's Hospital</strong> - 
            <a href="https://www.nepjol.info/index.php/jnprossoc/article/view/42311" target="_blank">Read the full article</a>
        </li>
        <li>
            <strong>Clinico-Laboratory Profile, Complications, and Therapeutic Outcome of Scrub Typhus in Children</strong> - 
            <a href="https://www.jnhrc.com.np/index.php/jnhrc/article/view/2730/948" target="_blank">Read the full article</a>
        </li>
        <li>
            <strong>Morbidity and Mortality Pattern of Patients Admitted into Paediatric Intensive Care Unit of a Tertiary Level Hospital of Nepal</strong> - 
            <a href="https://jnps.org.np/jnps/index.php/jnps/article/view/569" target="_blank">Read the full article</a>
        </li>
        <li>
            <strong>Clinico-Pathological Profile of Late Onset Neonatal Sepsis in a Tertiary Centre of Nepal</strong> - 
            <a href="https://doi.org/10.3126/mjsbh.v18i2.23517" target="_blank">Read the full article</a>
        </li>
        <li>
            <strong>Bacteriological Profile and Antibiotic Sensitivity Pattern of Neonatal Sepsis in a Central Paediatric Referral Hospital in Nepal</strong> - 
            <a href="https://www.nepjol.info/index.php/JNPS/article/view/21070" target="_blank">Read the full article</a>
        </li>
        <li>
            <strong>Acute Promyelocytic Leukemia</strong> - 
            <a href="https://nepjol.info/index.php/JNPS/article/view/18553" target="_blank">Read the full article</a>
        </li>
    </ul>
    </div>
</div>

