<section class="py-16 bg-custom-light">
    <div class="max-w-3xl mx-auto text-center">
        <h2 class="text-4xl font-bold mb-4 text-custom-primary">
            About Dr. Susan Bhattarai
        </h2>
        <div class="bg-white shadow-custom rounded-custom border-custom p-8 mx-4 md:mx-8 lg:mx-12">
            <p class="text-lg text-custom-medium mb-6">
                With more than a decade of experience in pediatric medicine and pediatric cardiology, Dr. Susan Bhattarai is dedicated to providing compassionate, comprehensive care for children of all ages. He is a well-known Pediatrician and an academician who has expertise in pediatric cardiology as well as pediatric infectious diseases, immunization, and nutrition.
            </p>
            <p class="text-lg text-custom-medium mb-6">
                Based in Kathmandu, Dr. Bhattarai combines his medical expertise with a personal approach to ensure that every child receives the best possible treatment in a warm and welcoming environment. Whether it's routine checkups or specialized care for complex medical conditions or cardiac diseases, Dr. Bhattarai is committed to promoting the health and well-being of children at every stage of development.
            </p>
            <p class="text-lg text-custom-medium mb-6">
                With his fellowship in pediatric cardiology and pediatric cardiac critical care from one of the renowned institutes in New Delhi, India, he offers an extensive range of services related to child's heart, including echocardiography.
            </p>
            <p class="text-lg text-custom-medium">
                Dr. Bhattarai believes that every child is unique and he works closely with families to offer personalized care plans that address the specific needs of your child, ensuring their healthy growth and development.
            </p>
        </div>
    </div>
</section>

