<header class="bg-blue-500 text-white p-4">
  <nav class="container mx-auto flex justify-between items-center">
    <a routerLink="/" class="text-xl font-bold">Susan Bhattarai, MD</a>
    <div>
      <a routerLink="/" class="mr-4">Home</a>
      <a routerLink="/about"  routerLinkActive="activebutton" class="mr-4">About</a>
      <a routerLink="/services"  routerLinkActive="activebutton" class="mr-4">Services</a>
      <a routerLink="/contact"  routerLinkActive="activebutton">Contact</a>
    </div>
  </nav>
</header>
<main class="container mx-auto p-4">
  <router-outlet></router-outlet>
</main>
<footer class="bg-gray-800 text-white p-4 text-center">
  <p>&copy; 2024 Susan Bhattarai. All rights reserved.</p>
</footer> 

